In [23]:
import yfinance as yf
import pandas as pd

In [51]:
tikr = yf.Ticker("MSFT")

In [72]:
import pandas as pd

def read_income_stmt(tikr):
    """
    Reads and processes the income statement and cash flow data from the provided ticker object.

    Parameters:
    tikr (object): An object with 'income_stmt' and 'cashflow' attributes that provide income statement and cash flow data.

    Returns:
    pd.DataFrame: Combined processed income statement and cash flow data.
    """
    # Read income statement data and convert to millions
    try:
        df1 = tikr.income_stmt / 1e6
    except AttributeError:
        raise ValueError("The provided ticker object does not have an 'income_stmt' attribute.")
    
    # Reverse columns for chronological order (if needed)
    df1 = df1[df1.columns[::-1]]
    
    # Define the rows to extract from the income statement
    rows_df1 = [
        'Total Revenue', 'EBIT', 'EBITDA', 'Interest Expense', 'Interest Income', 
        'Tax Provision', 'Minority Interests', 'Diluted Average Shares'
    ]
    
    # Filter out rows that are in the DataFrame
    valid_rows_df1 = [row for row in rows_df1 if row in df1.index]
    df1_rows = df1.loc[valid_rows_df1]
    
    # Read cash flow data (for Depreciation & Amortization) and convert to millions
    try:
        df2 = tikr.cashflow / 1e6
    except AttributeError:
        raise ValueError("The provided ticker object does not have a 'cashflow' attribute.")
    
    # Reverse columns for chronological order (if needed)
    df2 = df2[df2.columns[::-1]]
    
    # Define the rows to extract from the cash flow statement
    rows_df2 = ['Depreciation And Amortization']
    
    # Filter out rows that are in the DataFrame
    valid_rows_df2 = [row for row in rows_df2 if row in df2.index]
    df2_rows = df2.loc[valid_rows_df2]
    
    # Combine both dataframes and return
    combined_df = pd.concat([df1_rows, df2_rows], axis=0)
    return combined_df

# Example usage
income_statement = read_income_stmt(tikr)
income_statement

                              2020-06-30 2021-06-30 2022-06-30 2023-06-30
Total Revenue                   143015.0   168088.0   198270.0   211915.0
EBIT                             55627.0    73448.0    85779.0    91279.0
EBITDA                           68423.0    85134.0   100239.0   105140.0
Interest Expense                  2591.0     2346.0     2063.0     1968.0
Interest Income                   2680.0     2131.0     2094.0     2994.0
Tax Provision                     8755.0     9831.0    10978.0    16950.0
Diluted Average Shares            7683.0     7608.0     7540.0     7472.0
Depreciation And Amortization    12796.0    11686.0    14460.0    13861.0

In [73]:
import pandas as pd

def read_cashflow(tikr):
    """
    Reads and processes the cash flow data from the provided ticker object.

    Parameters:
    tikr (object): An object with a 'cashflow' attribute that provides cash flow data.

    Returns:
    pd.DataFrame: Processed cash flow data.
    """
    # Read cash flow data and convert to millions
    try:
        df1 = tikr.cashflow / 1e6
    except AttributeError:
        raise ValueError("The provided ticker object does not have a 'cashflow' attribute.")
    
    # Reverse columns for chronological order (if needed)
    df1 = df1[df1.columns[::-1]]
    
    # Define the rows to extract
    rows_df1 = [
        'Capital Expenditure', 'Change In Working Capital', 'Free Cash Flow'
    ]
    
    # Filter out rows that are in the DataFrame
    valid_rows_df1 = [row for row in rows_df1 if row in df1.index]
    
    # Select the relevant rows
    df1_rows = df1.loc[valid_rows_df1]
    
    return df1_rows

# Example usage
cash_flows = read_cashflow(tikr)
cash_flows

                          2020-06-30 2021-06-30 2022-06-30 2023-06-30
Capital Expenditure         -15441.0   -20622.0   -23886.0   -28107.0
Change In Working Capital    -1483.0     -936.0      446.0    -2388.0
Free Cash Flow               45234.0    56118.0    65149.0    59475.0

In [74]:
def read_balance_sheet(tikr):
    """
    Reads and processes the balance sheet from the provided ticker object.

    Parameters:
    tikr (object): An object with a 'balance_sheet' attribute that provides balance sheet data.

    Returns:
    pd.DataFrame: Processed balance sheet data.
    """
    
    # Read balance sheet data and convert to millions
    try:
        df1 = tikr.balance_sheet / 1e6
    except AttributeError:
        raise ValueError("The provided ticker object does not have a 'balance_sheet' attribute.")
    
    # Reverse columns for chronological order (if needed)
    df1 = df1[df1.columns[::-1]]
    
    # Define the rows to extract
    rows_df1 = [
        'Cash And Cash Equivalents', 'Total Debt', 'Goodwill', 
        'Common Stock Equity', 'Current Debt', 'Long Term Debt', 
        'Capital Lease Obligations', 'Current Debt And Capital Lease Obligation', 
        'Long Term Capital Lease Obligation'
    ]
    
    # Filter out rows that are in the DataFrame
    valid_rows_df1 = [row for row in rows_df1 if row in df1.index]
    
    # Select the relevant rows
    df1_rows = df1.loc[valid_rows_df1]
    
    # Compute 'Financial Debt'
    if 'Current Debt' in df1_rows.index and 'Long Term Debt' in df1_rows.index:
        df1_rows.loc['Financial Debt'] = df1_rows.loc['Current Debt'] + df1_rows.loc['Long Term Debt']
    else:
        df1_rows.loc['Financial Debt'] = pd.NA  # Or handle the missing data in another appropriate way
    
    return df1_rows


# Example usage
balance_sheet = read_balance_sheet(tikr)
balance_sheet

,2020-06-30,2021-06-30,2022-06-30,2023-06-30
Cash And Cash Equivalents,13576.0,14224.0,13931.0,34704.0
Total Debt,70998.0,67775.0,61270.0,59965.0
Goodwill,43351.0,49711.0,67524.0,67886.0
Common Stock Equity,118304.0,141988.0,166542.0,206223.0
Current Debt,3749.0,8072.0,2749.0,5247.0
Long Term Debt,59578.0,50074.0,47032.0,41990.0
Capital Lease Obligations,7671.0,9629.0,11489.0,12728.0
Current Debt And Capital Lease Obligation,3749.0,8072.0,2749.0,5247.0
Long Term Capital Lease Obligation,7671.0,9629.0,11489.0,12728.0
Financial Debt,63327.0,58146.0,49781.0,47237.0

In [ ]:
# Define the scope and credentials for accessing Google Sheets
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
credentials = ServiceAccountCredentials.from_json_keyfile_name('path/to/your/credentials.json', scope)